<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="stylesheets/createStudent.css" />
    <link rel="stylesheet" href="/stylesheets/editStudent.css" />
    <title>Student Updating Form</title>
  </head>
  <body>
    <!-- nav -->
    <nav
      class="navbar navbar-expand-lg navbar-dark"
      style="background-color: hsl(120, 60%, 40%)"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="#">SMIT Attendance Application</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <!-- 'ms-auto' pushes items to the right -->
            <li class="nav-item">
              <a class="nav-link active" href="/adminDashboard"
                >Admin Dashboard</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/createStudent"
                >Create Student ➕</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/adminDashboard"
                >All Students <i class="fas fa-user"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/attendance"
                >Attendance <i class="far fa-file"></i>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link text-danger" href="/logout">Logout</a>
              <!-- 'text-danger' for red color -->
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- edit -->
    <div class="container">
      <h2 class="mb-4 text-center">Student Updating Form</h2>
      <div class="errorDiv">
        <% if (typeof error !== 'undefined' && error !== null && error !== "") {
        %>
        <h3 class="oops">OOPS</h3>
        <div class="alert alert-error"><%= error %></div>
        <% } %>
      </div>
      <form
        action="/editStudent/<%= student._id %>"
        method="POST"
        enctype="multipart/form-data"
      >
        <div class="form-group">
          <label for="username">Username:</label>
          <input
            type="text"
            class="form-control"
            id="username"
            name="username"
            required
          />
        </div>

        <div class="form-group">
          <label for="lastName">Last Name:</label>
          <input
            type="text"
            class="form-control"
            id="lastName"
            name="lastName"
            required
          />
        </div>

        <div class="form-group">
          <label for="course">Course:</label>
          <select class="form-control" id="course" name="course" required>
            <option value="web dev">Web Development</option>
            <option value="3d animation">3D Animation</option>
            <option value="ai">Artificial Intelligence</option>
            <option value="machine learning">Machine Learning</option>
            <option value="web3">Web3</option>
          </select>
        </div>

        <div class="form-group">
          <label for="phoneNumber">Phone Number:</label>
          <input
            type="tel"
            class="form-control"
            id="phoneNumber"
            name="phoneNumber"
            required
          />
        </div>

        <button type="submit" class="btn btn-primary btn-block">
          Save Changes
        </button>
      </form>
    </div>
  </body>
</html>
